*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav preloader preloader"
  "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.header{
  grid-area: header;
  background-color: lightgrey;
}
.header__logo{
  height: 60px;
}
.header__auth{
  float: right;
}
.nav{
  grid-area: nav;
  background-color: rgb(77, 221, 226);
  padding: 10px;
  max-width: 200px;
}
.nav a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}
.nav a:last-child{
  margin-top: 30px;
}
.nav a.active{
  color: white;
}
.nav__bestfriend{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* padding: 0 5px; */
  margin-bottom: 10px;
  margin-left: -5px;
}
.nav__bestfriend-item{
  margin-bottom: 5px;
  margin-top: 5px;
  /* margin-right: 1vw; */
  width: 30px;
}
.nav__bestfriend-ava{
  width: 30px;
  border-radius: 50%;
}
.nav__bestfriend-name{
  font-size: 13px;
  text-align: center;
}
/* Класс active вешает NavLink */

.content{
  grid-area: content;
  background-color: lightgrey;
  padding: 10px;
}

.content__bg{
  height: 25vh;
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.content__profile{
  margin-top: 10px;
  margin-bottom: 40px;
}
.content__profile-ava{
  width: 200px;
  border-radius: 20px;
}
.content__profile>*{
  display: inline-block;
}
.content__profile-info{
  font-size: 20px;
  vertical-align: top;
  margin-left: 20px;
  margin-top: 10px;
  max-height: 200px;
}
.info-day,.info-city,.info-edu{
  margin-bottom: 10px;
}
.info-name{
  margin-bottom: 30px;
  font-size: 30px;
}
.post__new{
  margin-top: 100px;
  margin-bottom: 60px;
}
.post__new-title{
  font-size: 25px;
  margin-bottom: 14px;
}
.post__new-main{
  width: 100%;
  font-size: 15px;
  height: 65px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 7px;
}
.post__new-button{
  float: right;
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 10px;
}
.post__old{
  min-height: 60px;
  background-color: #fff;
  margin-bottom: 5px;
}
.post__old>*{
  display: inline-block;
}
.post__old-ava{
  width: 40px;
  border-radius: 50%;
  vertical-align: bottom;
}
.dialogs{
  grid-area: content;
  display: grid;
  grid-template-areas:
  "current list"
  "newmessage list";
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  /* height: 100vh; */
}
.dialogs__current{
  grid-area: current;
  background-color: lightgrey;
}
.message{
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.dialogs__list{
  grid-area: list;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* list-style: none; */

  background-color: lightgrey;
  max-width: 20vw;
  word-wrap: break-word;
}
.dialogs__item{
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.message__ava,.user__ava{
  width: 40px;
  border-radius: 50%;
}
.message__person{
  display: flex;
  flex-direction: column;
  width: 40px;
  /* margin-right: 20px; */
}
.message__name{
  text-align: center;
}
.message__area{
  border: 2px solid black;
  padding: 5px;
  margin: 0 15px;
}
.me{
  flex-direction: row-reverse;
}
.dialogs__message{
  grid-area: newmessage;
  padding: 10px;
  background-color: lightgrey;
}
.dialogs__message-area{
  width: 100%;
  font-size: 15px;
  height: 65px;
  padding: 10px;
  border: none;
}
.dialogs__message-button{
  float: right;
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
  margin-top: 10px;
}
.users{
  grid-area: content;
}
.user__item-face{
  display: flex;
  flex-direction: column;
}
.user__item{
  display: grid;
  grid-template-areas:
  "face about";
  grid-template-columns: 1fr 8fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}
.user__item-face{
  grid-area: face;
}
.user__ava{
  margin: 0 auto;
  margin-top: 5px;
}
.user__follow{
  width: 80%;
  margin: 0 auto;
  margin-top: 5px;
}
.user__info{
  background-color: lightgrey;
  grid-area: about;
  display: grid;
  grid-template-areas:
  "name from"
  "status from";
  padding-right: 40px;
  /* grid-template-columns: 1fr 1fr; */
}
.user__info-name{
  grid-area: name;
  padding: 10px;
}
.user__info-status{
  grid-area: status;
  padding: 10px;
}
.user__info-from{
  grid-area: from;
  text-align: right;
  padding: 10px;
}
.users-more{
  margin: 0 auto;
}
.users__page{
  display: flex;
  overflow: scroll;
  margin-bottom: 10px;
}
.users__page>*{
  margin-right: 3px;
  cursor: pointer;
}
.users__page-current{
  font-weight: bold;
}
.preloader{
  grid-area: preloader;
  margin: 0 auto;
  position: relative;
}
.preloader img {
    width: 50px;
    position: absolute;
    left: -10vw;
    top: -60px;
}
/* .status{
  width: 100px;
  height: 30px;
  background-color: #fff;
} */

.form-error textarea,.form-error input{
  border: 3px solid red;
}
.form-login-error{
  border: 1px solid red;
  color: red;
}
